---
title: Act - Outdoors
date: 2017-01-23 00:00:00 Z
permalink: "/work/act-outdoors/"
tags:
- featured
- work
layout: default
thumbnail: /static/images/work/thumbnails/act-outdoors.jpg
---

<div id="main" tabindex="-1" class="mw-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        {% include video-player.html videoType='youtube' videoID='59DKWLNj6M0' %}
      </div>
    </div>
    <div class="mw-work-description-container">
      <div class="row">
        <div class="col-lg-4 col-sm-5 mw-primary-content">
          <h1 class="h2">{{page.title}}</h1>
          <hr class="mw-hr" />
        </div>
        <div class="col-lg-8 col-sm-7 mw-secondary-content">
          <p>Where we live is AMAZING! 🌿</p>
          <p>Do you find yourself trying to focus on what’s important in life? There is a perfect solution right here on our doorsteps…</p>
        </div>
      </div>
    </div>
    {% include pagination.html %}
  </div>
</div>
