---
title: Eilidh and Peter Wedding Reel
date: 2017-02-06 00:00:00 Z
permalink: "/work/eilidh-and-peter-wedding/"
tags:
- featured
- wedding
layout: default
thumbnail: static/images/work/thumbnails/eilidh-and-peter-wedding.jpg
---

<div id="main" tabindex="-1" class="mw-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        {% include video-player.html videoType='youtube' videoID='i2tJ2nWApVg' %}
      </div>
    </div>
    <div class="mw-work-description-container">
      <div class="row">
        <div class="col-lg-4 col-sm-5 mw-primary-content">
          <h1 class="h2">{{page.title}}</h1>
          <hr class="mw-hr" />
        </div>
        <div class="col-lg-8 col-sm-7 mw-secondary-content">
          <p>📌E I L I D H + PE T E R ❤️<br />
              📽 Michael Westcott Films<br />
              👰 Eilidh Smart<br />
              🤵 Peter Smart<br />
              🏰 Meldrum House Hotel<br />
              💒 Kings-College-Aberdeen<br />
              📷 Aboyne Photographics<br />
              🎼 Filmstro & Music Bed<br />
              🎺 Graham Geddes band<br />
              👱‍♀️ Rebecca Carr hair<br />
              🍰 Fondant Cake Design<br />
              👗 Avorio<br />
              💐 Flowers By Judith</p>
        </div>
      </div>
    </div>
    {% include pagination.html %}
  </div>
</div>
