---
title: Izz Juvey - Switching Numbers
date: 2017-01-31 00:00:00 Z
permalink: "/work/switching-numbers/"
tags:
- featured
layout: default
thumbnail: static/images/work/thumbnails/switching-numbers.jpg
---

<div id="main" tabindex="-1" class="mw-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        {% include video-player.html videoType='youtube' videoID='KV1P_HdFpPU' %}
      </div>
    </div>
    <div class="mw-work-description-container">
      <div class="row">
        <div class="col-lg-4 col-sm-5 mw-primary-content">
          <h1 class="h2">{{page.title}}</h1>
          <hr class="mw-hr" />
        </div>
        <div class="col-lg-8 col-sm-7 mw-secondary-content">
          <p class="mw-lead">
            Sanneh Mentereng Washed presents Izz Juvey performing Switching Numbers produced by Tony Jones off SAAU Mixtape (Coming Soon).
            Filmed and edited by Michael Westcott Films.</p>

          <p>Follow Izz Juvey on:
            Instagram: @izzjuvey
            Snapchat: Ij1uptuc
            SoundCloud: www.soundcloud.com/izz-juvey
          </p>
        </div>
      </div>
    </div>
    {% include pagination.html %}
  </div>
</div>
