---
title: Kim and Ewen Wedding Reel
date: 2017-02-05 00:00:00 Z
permalink: "/work/kim-and-ewen-wedding/"
tags:
- featured
- wedding
layout: default
thumbnail: /static/images/work/thumbnails/kim-and-ewen-wedding.jpg
---

<div id="main" tabindex="-1" class="mw-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        {% include video-player.html videoType='youtube' videoID='JrJf1cJmXI8' %}
      </div>
    </div>
    <div class="mw-work-description-container">
      <div class="row">
        <div class="col-lg-4 col-sm-5 mw-primary-content">
          <h1 class="h2">{{page.title}}</h1>
          <hr class="mw-hr" />
        </div>
        <div class="col-lg-8 col-sm-7 mw-secondary-content">
          <p>📌K I M + E W E N❤️<br />
              📽 Michael Westcott Films<br />
              👰 Kim Jamieson<br />
              🤵 Ewen Jamieson<br />
              🏰 Ben Nevis Hotel & Leisure Club<br />
              📷 Justin Scobie Photography<br />
              💐 Floral Elegance by Nikki Robertsv
              👗 Sarah Louise Bridal<br />
              👠 Charlotte Mills<br />
              👔 The Edinburgh Woollen Mill<br />
              💄 Belle Beauty by Daisy<br />
              👱‍♀️ Hair By Louise<br />
              🎻 Papa Shandy & the Drams<br />
              💌 LouPaper Wedding Stationery<br />
              🥞 Pipinghot Weddings & Events Piper DanceFloor PhotoBooth...<br />
              🍰 Cakes by Sandra<br />
              🚗 Phantom Scotland<br />
              🎹 Ingrid Henderson Musician</p>
        </div>
      </div>
    </div>
    {% include pagination.html %}
  </div>
</div>
