---
title: Jenny and Alick Wedding Reel
date: 2019-10-10 00:00:00 Z
permalink: "/work/jenny-and-alick-wedding/"
tags:
- featured
layout: default
thumbnail: static/images/work/thumbnails/jenny-and-alick-wedding.jpg
---

<div id="main" tabindex="-1" class="mw-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        {% include video-player.html videoType='youtube' videoID='PVF7e-Ubcls' %}
      </div>
    </div>
    <div class="mw-work-description-container">
      <div class="row">
        <div class="col-lg-4 col-sm-5 mw-primary-content">
          <h1 class="h2">{{page.title}}</h1>
          <hr class="mw-hr" />
        </div>
        <div class="col-lg-8 col-sm-7 mw-secondary-content">
          <p>📌J E N N Y + A L I C K ❤️<br />
            📽 Michael Westcott Films<br />
            👰 Jenny Henderson<br />
            🤵 Alick Patience<br />
            🚜 Udale Farm<br />
            📹 Scene-it Media<br />
            📷 Anne Macpherson<br />
            💅Eileen Solan MakeUp and Microblading Artist<br />
            🎼 The Anne Dickson Band<br />
            👗 IanStuartBride<br />
            🍝 DM Event Catering</p>
        </div>
      </div>
    </div>
    {% include pagination.html %}
  </div>
</div>
