---
title: Lauren and Ben Wedding Reel
date: 2020-06-04 00:00:00 Z
permalink: "/work/lauren-and-ben-wedding/"
tags:
- featured
- wedding
layout: default
thumbnail: static/images/work/thumbnails/lauren-and-ben-wedding.jpg
---

<div id="main" tabindex="-1" class="mw-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        {% include video-player.html videoType='youtube' videoID='D8BpBi4w2Kc' %}
      </div>
    </div>
    <div class="mw-work-description-container">
      <div class="row">
        <div class="col-lg-4 col-sm-5 mw-primary-content">
          <h1 class="h2">{{page.title}}</h1>
          <hr class="mw-hr" />
        </div>
        <div class="col-lg-8 col-sm-7 mw-secondary-content">
          <p>📌LA U R E N + B E N ❤️<br />
          📽 Michael Westcott Films<br />
          👰 Lauren Young<br />
          🤵 Ben Hudson<br />
          🏰 Achnagairn Estate<br />
          📷 Abrightside Photography<br />
          💐 Bothy Blooms<br />
          👗 Pronovias<br />
          🎸 Hector's Heroes Ceilidh Band<br />
          🥂 Evas Covers</p>
        </div>
      </div>
    </div>
    {% include pagination.html %}
  </div>
</div>