---
title: Paige and Sean Wedding Reel
date: 2020-06-01 00:00:00 Z
permalink: "/work/paige-and-sean-wedding/"
tags:
- featured
- wedding
layout: default
thumbnail: static/images/work/thumbnails/paige-and-sean-wedding.jpg
---

<div id="main" tabindex="-1" class="mw-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        {% include video-player.html videoType='youtube' videoID='KQoasjRziWk' %}
      </div>
    </div>
    <div class="mw-work-description-container">
      <div class="row">
        <div class="col-lg-4 col-sm-5 mw-primary-content">
          <h1 class="h2">{{page.title}}</h1>
          <hr class="mw-hr" />
        </div>
        <div class="col-lg-8 col-sm-7 mw-secondary-content">
          <p>📌P A I G E + S E A N ❤️<br />
          📽 by Michael Westcott Films<br />
          👰 Paige Reid<br />
          🤵 Sean Reid<br />
          🏰 The Vu<br />
          📷 Geebz Photography<br />
          🎸T-Junction Wedding Band<br />
          👧Fiona Flanagan IHC Celebrant Scotland<br />
          🎼Sophie Rocks - Harpist<br />
          💐Thistle Flowers<br />
          🍰3D Cakes<br />
          🎗️Say I Do Weddings<br />
          💍Smooch Wedding Rings - Scotland<br />
          ✉️Eden Rose Design Studio<br />
          👗WED2B (Glasgow)<br />
          👔Slanj Kilts (Glasgow Store)<br />
          👚Sistaglam<br />
          👩Don't Stress the Dress Ltd<br />
          ⛺Hey J - Teepees • Parties • Events • Weddings<br />
          👰🏼Clair Eliza Donoghue hand made bridal veils etc<br />
          ⚜️Bespoke Chick<br />
          👱‍♀️Vinyl Shack 1</p>
        </div>
      </div>
    </div>
    {% include pagination.html %}
  </div>
</div>