---
title: Loretta and Darren Wedding Reel
date: 2020-06-02 00:00:00 Z
permalink: "/work/loretta-and-darren-wedding/"
tags:
- featured
- wedding
layout: default
thumbnail: static/images/work/thumbnails/loretta-and-darren-wedding.jpg
---

<div id="main" tabindex="-1" class="mw-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        {% include video-player.html videoType='youtube' videoID='yRIzHE2XYDk' %}
      </div>
    </div>
    <div class="mw-work-description-container">
      <div class="row">
        <div class="col-lg-4 col-sm-5 mw-primary-content">
          <h1 class="h2">{{page.title}}</h1>
          <hr class="mw-hr" />
        </div>
        <div class="col-lg-8 col-sm-7 mw-secondary-content">
          <p>📌L O R E T T A + D A R R E N ❤️<br />
          📽 by Michael Westcott Films<br />
          👰 Lorreta Walker<br />
          🤵 Darren Walker<br />
          🏰 Aswanley Wedding Venue<br />
          ⛪ Lossiemouth Baptist Church<br />
          💐 Robin's Egg<br />
          🍔Val Morrison<br />
          📷 Jen Owens Images<br />
          👗 Angharad Bridal<br />
          🍦 Rizza's Ice Cream<br />
          💇 Kenneth’s<br />
          💄 Lush Beauty<br />
          💌 Natalie Morrice<br />
          🚌 Deveron Coaches Ltd<br />
          🚗 GSM Wedding Cars<br />
          🎸 The Avenue</p>
        </div>
      </div>
    </div>
    {% include pagination.html %}
  </div>
</div>