---
title: Adele and Calum Wedding Reel
date: 2020-06-03 00:00:00 Z
permalink: "/work/adele-and-calum-wedding/"
tags:
- featured
- wedding
layout: default
thumbnail: /static/images/work/thumbnails/adele-and-calum-wedding.jpg
---

<div id="main" tabindex="-1" class="mw-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        {% include video-player.html videoType='youtube' videoID='7PHqVZzC4yc' %}
      </div>
    </div>
    <div class="mw-work-description-container">
      <div class="row">
        <div class="col-lg-4 col-sm-5 mw-primary-content">
          <h1 class="h2">{{page.title}}</h1>
          <hr class="mw-hr" />
        </div>
        <div class="col-lg-8 col-sm-7 mw-secondary-content">
          <p>📌A D E L E + C A L U M❤️<br />
          📽 by Michael Westcott Films<br />
          👰 Adele Callan<br />
          🤵 Calum Creaney<br />
          🏰 Fasque House<br />
          📷 Holly Rose Photography<br />
          💐 Isla Duncan Florist<br />
          💇 Zoe Gordon Special Occasion Hair<br />
          💄 Jade Koemans Make Up Artist<br />
          👗 Sassi Holford from Ivory Grace Bridal - Ballymena<br />
          Bridesmaids Dress 💃 Perfect Bridal Rooms<br />
          👱‍♀️ Humanist Society Scotland Ceremonies<br />
          🎷 Marshali Scott Music - Saxophonist<br />
          🎹 Corra<br />
          🏷️ Rebecca Barnett Wedding Design<br />
          🍰 Little Crumb Bakehouse<br />
          🥘 Sinclair's Catering<br />
          💍 Sandy Menzies<br />
          🧴 Brown Sugar by Sam Milne<br />
          💅 Luxe Beauty by Leanne</p>
        </div>
      </div>
    </div>
    {% include pagination.html %}
  </div>
</div>