---
title: Kirsty and Grant Wedding Reel
date: 2020-06-05 00:00:00 Z
permalink: "/work/kirsty-and-grant-wedding/"
tags:
- featured
- wedding
layout: default
thumbnail: /static/images/work/thumbnails/kirsty-and-grant-wedding.jpg
---

<div id="main" tabindex="-1" class="mw-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        {% include video-player.html videoType='youtube' videoID='hHBjKtUbMDE' %}
      </div>
    </div>
    <div class="mw-work-description-container">
      <div class="row">
        <div class="col-lg-4 col-sm-5 mw-primary-content">
          <h1 class="h2">{{page.title}}</h1>
          <hr class="mw-hr" />
        </div>
        <div class="col-lg-8 col-sm-7 mw-secondary-content">
          <p>📌K I R S T Y + G R A N T ❤️<br />
          📽 Michael Westcott Films<br />
          👰 Kirsty Gauld<br />
          🤵 Grant Cameron<br />
          🏰 Meldrum House Country Hotel<br />
          📷 Rubislaw Studio<br />
          💐 Little Flower,<br />
          🍰 Cuture Cakes by Sweetcheeks<br />
          ✨ One Day Events<br />
          👗 Angharrad Bridal<br />
          💇‍♀️ Niki Royan Hair<br />
          💄 Platinum make up by Julz<br />
          🪑 Dream Events by Sarah<br />
          🎸 Velvet Noir</p>
        </div>
      </div>
    </div>
    {% include pagination.html %}
  </div>
</div>